<div>
<h2 style="background-color:Purple;text-align:center;border-radius:40px;border: 1px;padding: 20px; color:white"><b>Filoger Hands On Prerequisite Python For AI <br>Exercises 09 & 010 | Deadline: 2023 9 May <br> Score: 700</h2>
</div>

# Name

In [ ]:
# Tahereh, Majidi

<h3 style="background-color:#ff3300
;text-align:center;border-radius:40px;border: 1px;padding: 10px;color:white"><b>Exercises 09<br>Score: 550</h3>

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;color:white"><b>1- Based on some examples (code), show the difference between list and tuple(50)</h5>

In [5]:
#Tuples are immutable and lists are mutable
List1 = [1, 2, 4, 4, 3, 3, 3, 6, 5]
List1[3] = 77
print(List1)

[1, 2, 4, 77, 3, 3, 3, 6, 5]

In [ ]:
#We can see here tuple can not be modified.
tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

In [18]:
#As tuples are stored in a single memory block therefore they donâ€™t require extra space 
#for new objects whereas the lists are allocated in two blocks, first the fixed one with
 #all the Python object information and second a variable-sized block for the data.
import sys

list1 = ["England", "If", "England"]
tuple1 = ("England", "If", "England")
print(sys.getsizeof(list1))
print(sys.getsizeof(tuple1))

120
64

In [1]:
#list
list1=[1,2,3]
print(list1)
#Tuple
tuple1=(1,2,3)
print(tuple1)

[1, 2, 3]
(1, 2, 3)

In [1]:
# list
list1=[1]
print(type(list1))
#tuple
tuple1=(1,)
print(type(tuple1))

<class 'list'>
<class 'tuple'>

In [25]:
# add, remove,edit
#list
list1=[1,2,3,4]
list1.append(5)
print(list1)
#We cannot perform addition on tuples in Python, so we convert the tuple to a list,
#perform the addition, and then convert the resulting list back to a tuple
tuple1=(1,2,3,4)
list2=list(tuple1)
list2.append(5)
tuple2=tuple(list2)
print(tuple2)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [23]:

#_____________edit_______________
#list
list1=[1,2,3,4]
list1[1]="Python"
print(list1)
#We cannot perform edit on tuples in Python, so we convert the tuple to a list,
#perform the edit, and then convert the resulting list back to a tuple
tuple1=(1,2,3,4)
list2=list(tuple1)
list2[1]="python"
tuple2=tuple(list2)
print(tuple2)

[1, 'Python', 3, 4]
(1, 'python', 3, 4)

In [22]:
#_____________remove___________
#list
list1=[1,2,3,4]
list1.remove(1)
print(list1)
#We cannot perform remove on tuples in Python, so we convert the tuple to a list,
#perform the remove, and then convert the resulting list back to a tuple
tuple1=(1,2,3,4)
list2=list(tuple1)
list2.remove(1)
tuple2=tuple(list2)
print(tuple2)

[2, 3, 4]
(2, 3, 4)

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;color:white"><b>2- Tuple(100)</h5>

Create an empty tuple

In [2]:
tuple1=()
print(type(tuple1))

<class 'tuple'>

Create a tuple with one item

In [21]:
tuple2=(12,)
print(tuple2)

(12,)

Create a tuple with more than one item.

In [22]:
tuple3=(1,2,3,"python",True)
print(tuple3)

(1, 2, 3, 'python', True)

Concatenate two tuples of Part2 and Part3

In [23]:
tuple4=tuple2+tuple3
print(tuple4)

(12, 1, 2, 3, 'python', True)

Check 1 is in tuple of Part4 or no.

In [24]:
if 1 in tuple4:
    print("yes")
else:
    print("no")

yes

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;color:white"><b>3- Answer the questions according to the list below.
numbers = (10, 20, 30, 5, 40, 20, 4, 2, 1,8, 80)  (100)</h5>

Add 100 at the end of tuple

In [34]:
numbers = (10, 20, 30, 5, 40, 20, 4, 2, 1,8, 80)
tuple1=(100,)
result=numbers+tuple1
print(result)

(10, 20, 30, 5, 40, 20, 4, 2, 1, 8, 80, 100)

Add 50 in the index of 3.

In [17]:
numbers = (10, 20, 30, 5, 40, 20, 4, 2, 1,8, 80)
numbers=list(numbers)
numbers.insert(3,50)
numbers=tuple(numbers)
print(numbers)

(10, 20, 30, 50, 5, 40, 20, 4, 2, 1, 8, 80)

Remove 30 from tuple

In [37]:
numbers=list(numbers)
numbers.remove(30)
numbers=tuple(numbers)
print(numbers)

(10, 20, 50, 40, 20, 4, 2, 1, 8, 80)

Edit 10 with 110.

In [39]:
numbers=list(numbers)
numbers[0]=110
numbers=tuple(numbers)
print(numbers)

(110, 2, 4, 8, 10, 20, 20, 40, 50, 80)

Sort the tuple.

In [40]:
numbers=list(numbers)
numbers.sort()
numbers=tuple(numbers)
print(numbers)

(2, 4, 8, 10, 20, 20, 40, 50, 80, 110)

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;color:white"><b>4- Write a python program that takes a list of tuple and display other list that only have
first and last items of each tuple.</h5>

In [1]:
# Input:[(1, 2, 3), (3, 5, 6), (4, 10, 12)]
# Output: [(1, 3), (3, 6), (4, 12)]

In [10]:
Input_1=input(" take a list of tuple :   ") #[(1, 2, 3), (3, 5, 6), (4, 10, 12)]
list_of_tuples = eval(Input_1)
print(list_of_tuples)
output_list=[]
for i in list_of_tuples:
    tuple1=(i[0],i[-1])
    output_list.append(tuple1)
print(output_list)

[(1, 2, 3), (3, 5, 6), (4, 10, 12)]
[(1, 3), (3, 6), (4, 12)]

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;color:white"><b>5- Generate 10 different random numbers between 100 and two 200.(100)
 </h5>

In [16]:
from random import randint
random_numbers = set()
while len(random_numbers )<10:
  random_numbers.add(randint(100,200))
random_numbers

{100, 106, 123, 135, 138, 141, 145, 156, 159, 179}

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;color:white"><b>6- Create two lists, then create a third list that contains values that are in the first list but
not in the second list.
 </h5>

In [32]:
list1=[1,3,4,5,6,7]
list2=[4,5,6,10,14,7]
set1=set(list1)
set2=set(list2)
set3=set1-set2
print(set3)

{1, 3}

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;color:white"><b>7- Find two new methods for Tuple and Set.
 </h5>

In [37]:
my_tuple = (1, 2, 3, 4, 2, 5, 2)
my_tuple.count(2)
my_tuple.index(2)

1

In [41]:
my_tuple = (1,3 ,2, 3, 4, 2,3, 5, 2)
res = my_tuple.index(3, 4)
print('First occurrence of 3 after 4th index is:', res)

First occurrence of 3 after 4th index is: 6

In [42]:
set1={1,2,3,4}
set2={4,5,3,7,2}
set3.union(set1,set2)

{1, 2, 3, 4, 5, 7}

In [45]:
# Find the intersection of two sets
set1 = {'Python', 'Java', 'C++','Go'}
set2 = {'Java', 'C++', 'Go'}
set1.intersection(set2)

{'C++', 'Go', 'Java'}

<h3 style="background-color:#ff3300
;text-align:center;border-radius:40px;border: 1px;padding: 10px;color:white"><b>Exercise 10<br>Score: 150</h3>

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;color:white"><b>1- Write a recursive function for the binary search algorithm. (150)
 </h5>

In [1]:
def binary_search_recursive(list1,low,high,x):
    low=0
    high=len(list1)-1
    mid=0
    while low<=high :
        mid=(low+high)//2
        if list1[mid]<x:
            return binary_search_recursive(list1, mid + 1, high, x)
        elif list1[mid]>x:
            return binary_search_recursive(list1, low, mid-1, x)
        else:
            return mid
    else:
        return -1

In [8]:
list1 = [1, 3, 5, 7, 9,100,10000,40000,44,888]
x = 888
result = binary_search_recursive(list1, 0, len(list1) - 1, x)
print(result)

-1

In [ ]:
n=10