# Question 1

In [1]:
#Type
num1=12.6
t1=type(num1)
print(t1)

#casting
num1=12.6
num1=int(num1)
print(num1)
print(type(num1))

<class 'float'>
12
<class 'int'>

In [2]:
#type
num2='050'
t2=type(num2)
print(t2)

#casting
#float
num2='050'
num2=float(num2)
print(num2)
print(type(num2))

#int
num2=int(num2)
print(num2)
print(type(num2))

<class 'str'>
50.0
<class 'float'>
50
<class 'int'>

In [3]:
#type
num3="20."
t3=type(num3)
print(t3)

#casting
#float
num3="20."
num3=float(num3)
print(num3)
print(type(num3))

#int
num3=int(num3)
print(num3)
print(type(num3))

<class 'str'>
20.0
<class 'float'>
20
<class 'int'>

In [4]:
#type
student_num = 's98234'
t4=type(student_num)
print(t4)

<class 'str'>

In [5]:
#type
flag = True
t5=type(flag)
print(t5)

#casting
#float
flag = float(True)
print(flag)
print(type(flag))

#int
flag = int(True)
print(flag)
print(type(flag))

<class 'bool'>
1.0
<class 'float'>
1
<class 'int'>

In [6]:
#casting
num1 = -20
num1=bool(num1)
print(num1)

#type
print(type(num1))

True
<class 'bool'>

In [7]:
#casting
num2 =00
num2=bool(num2)
print(num2)

#type
print(type(num2))

False
<class 'bool'>

In [8]:
#casting
flag = 'False'
flag=bool(flag)
print(flag)

#type
print(type(flag))

True
<class 'bool'>

# Question 2

In [9]:
num1 = 20
num2 = 19.
num3 = '18.5'

#casting num3
num3=float(num3)
           
#average
average=(num1+num2+num3)/3
print(average)

19.166666666666668

# Question 3

In [2]:
num1=12
num2=10
print(num1>num2)
print(num1<num2)

True
False

# Question 4

In [12]:
length=float(input('please give the length: '))
width=float(input('please give the width:  '))

#perimeter
perimeter=2*(length+width)
print(perimeter)

#area
area=length*width
print(area)

please give the length: 10
please give the width:  20
60.0
200.0

# Question 5

In [13]:
#circle
diagonal=float(input("please give diagonal:  "))
radius=diagonal/2
p=3.14
area_circle=p*radius**2
print(area_circle)

#square
side=diagonal
area_square=side*side
print(area_square)

#the area of the colored part
area_colored =area_square-area_circle
print(area_colored)

please give diagonal:  10
78.5
100.0
21.5

# Question 6

In [15]:
num1 = num2 = num3 = 200
print(num1)
print(num2)
print(num3)

200
200
200

In [16]:
num1 , num2 , num3 = 10, 20, 145
print(num1)
print(num2)
print(num3)

10
20
145

In [17]:
#num1 , num2 , num3 = 30, 100
''' It assigns the value  30 and 100 to the variables 'num1' and 'num2' respectively, 
but it doesn't do anything with the variable 'num3' '''
#fix the error 
num1, num2, num3=30,100,50
print(num1)
print(num2)
print(num3)

30
100
50